<?xml version="1.0" encoding="UTF-8"?>
<manifest package="com.osynda.app" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" android:largeHeap="true"
        android:name="com.osynda.app.appcomponents.di.MyApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true" android:theme="@style/Theme.MyApp" android:usesCleartextTraffic="true">
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <meta-data android:name="com.facebook.sdk.ClientToken" android:value="@string/facebook_client_token"/>
        <activity
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" android:name="com.facebook.FacebookActivity"/>
        <activity android:exported="true" android:name="com.facebook.CustomTabActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="@string/fb_login_protocol_scheme"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.osynda.app.modules.frame162877.ui.Frame162877Activity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.osynda.app.modules.paymentmethod.ui.PaymentMethodActivity" android:screenOrientation="portrait"/>
        <activity android:exported="true"
            android:name="com.osynda.app.modules.onbopading.ui.OnbopadingActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.osynda.app.modules.eventdetialsone.ui.EventDetialsOneActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.osynda.app.modules.paymentmethodtwo.ui.PaymentMethodTwoActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.osynda.app.modules.paymentmethodone.ui.PaymentMethodOneActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.osynda.app.modules.signup.ui.SignUpActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.osynda.app.modules.ticketspage.ui.TicketsPageActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.osynda.app.modules.eventdetials.ui.EventDetialsActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.osynda.app.modules.paymentmethodthree.ui.PaymentMethodThreeActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.osynda.app.modules.customerhomeopagecontainer.ui.CustomerHomeOpageContainerActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.osynda.app.modules.cinemas.ui.CinemasActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.osynda.app.modules.login.ui.LoginActivity" android:screenOrientation="portrait"/>
    </application>
</manifest>
